@use "variables" as *;
@import "mixins";

.bucket-table {
  margin: 0 auto;
  .bucket-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bucket-buyButton{
  @include buttons(auto, 20%);
      margin: 30px auto;
}