@use "variables" as *;
@import "mixins";

.bucket-table {
    margin: 0;
    font-size: 0.7rem;

    .bucket-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 797px) {
        .bucket-list {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
        }
    }
}

.bucket-buyButton {
    @include buttons(auto, 20%);
    margin: 30px auto;
}
