@use "variables" as *;

.gameInfo_container {
  width: 100%;

  .gameTitle {
    margin-top: 100px;
  }
  .trailers {
    overflow: auto;
    white-space: nowrap;
    background-color: black;
    border-radius: 60px;

    figure {
      display: inline-block;
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      position: relative;
      width: 100%;
      margin: 30px;



      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .screenshots {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border: 2px solid $basic-ascent-color;
    border-radius: 60px;
    background-color: black;

    .boxImg {
      display: inline-block;
      margin: 30px;
      height: 480px;
      max-width: 640px;
      border-radius: 60px;
    }
  }

  .gameBuy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .gameTitle {
      margin: 0;
    }
    p {
      font-style: italic;
    }
  }
}
