@use "variables" as *;

.gameList_container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  .gameBox {
    background-color: transparent;
    margin-bottom: 30px;
    height: 360px;
    max-width: 600px;
    border: 1px solid $basic-ascent-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: $basic-font-color;
    position: relative;
    transition: transform 0.2s;

  

    &:hover {
      transform: scale(1.1);
    }

    .ratingPoints {
      img {
        height: 50px;
        width: 50px;
        position: absolute;
        top: -28px;
        right: -25px;
      }

      .points {
        height: 50px;
        width: 50px;
        position: absolute;
        top: -27px;
        right: -25px;
        color: $basic-bg-color;
        font-size: 0.7em;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .gameBox_img {
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
    }
    .gameContent {
      max-height: 100%;
      width: 50%;
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: space-evenly;

      .gameHeader {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 15px;

        .gameTitle{
            font-size: 1.2em;
        }

        p {
          font-size: 0.8em;
        }

        .platform_name {
          font-style: italic;
          padding: 10px;
        }
        .game-genres {
          display: flex;
        }
      }

      .gamePrice {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        color: rgb(55, 191, 201);
        font-style: italic;

        span {
          font-size: 0.5em;
        }

        .salePrice {
          position: relative;
          &:after {
            content: "";
            height: 0px;
            width: 40px;
            position: absolute;
            border: 1px solid red;
            transform: rotate(-15deg);
            top: 42%;
            right: 42%;
          }
        }
      }

      .addGame {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        color: $basic-orange-color;
        font-size: 1em;

        .addGame_btn {
          color: $basic-font-color;
          background-color: transparent;
          border-color: transparent;
          height: 2em;
          width: 2em;
          transition: transform 0.2s;
          position: relative;
          padding: 0;
          margin: 0;

          &:hover {
            transform: scale(1.1);
          }
          &:active{
            transform: scale(1);
          }

          img {
            position: absolute;
            height: 2em;
            width: auto;
            top: -2px;
            left: 0;
          }
        }
      }
    }
  }
}
