* {
    box-sizing: border-box;
}

$columns: 10;
$gutters: 10px;
$base-column-size: calc(100% / $columns);

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;

        [class*="col-"] {
            min-height: 100px;
        }

        @for $i from 1 through $columns {
            .col-#{$i} {
                width: $base-column-size * $i;
            }
        }
    }
}
