$basic-font-color: rgb(203, 203, 203);
$basic-ascent-color: rgba(82, 80, 80, 0.95);
$basic-bg-color: rgb(33, 33, 33);
$basic-orange-color: rgb(256, 161, 71);
$basic-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif, sans-serif;
