@use "variables" as *;
@use "placeholders" as *;
@import "mixins";
@import "browser";

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $basic-font-color;
  background-color: #242424;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: 0.4em;
}

.major_container {
  margin: 0;
  padding: 0;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.header {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $basic-ascent-color;

  .logo {
    span {
      font-size: 3rem;
      color: tomato;
    }
    a {
      color: $basic-font-color;
    }
  }
}
.header,
.footer,
.footer ul,
.navlist,
.navlist ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 1;

  .bucket,
  .login {
    background-color: transparent;
    opacity: 0.7;
    font-size: 1em;

    img {
      height: 1.2em;
      width: 1.2em;
    }

    &:hover {
      opacity: 1;
    }
  }
}
.footer,
.navlist li {
  list-style: none;
  padding: 5px 10px;

  a {
    @include links();
  }
}

.main {
  text-align: center;
  font-size: 1em;
  margin-top: 100px;
  * {
    width: 100%;
    margin: 0 auto;
  }

  .main_container {
    width: 70%;

    .gameList_container {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      .gameBox {
        background-color: transparent;
        margin-bottom: 30px;
        max-height: 240px;
        max-width: 400px;
        border: 1px solid $basic-ascent-color;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        color: $basic-font-color;
        position: relative;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
        }

        .ratingPoints {
          img {
            height: 50px;
            width: 50px;
            position: absolute;
            top: -28px;
            right: -25px;
          }

          .points {
            height: 50px;
            width: 50px;
            position: absolute;
            top: -25px;
            right: -25px;
            color: $basic-bg-color;
            font-size: 0.8em;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .gameBox_img {
          height: 100%;
          width: 45%;
          margin: 0;
          display: flex;

          .gameImg {
            height: 100%;
            width: 100%;
            margin: 0;
            border-radius: 5px;
          }
        }
        .gameContent {
          max-height: 100%;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .gameTitle {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 20px;

            h6 {
              font-size: 1em;
              color: rgb(236, 156, 51);
            }
            p {
              font-size: 0.5em;
            }

            .platform_name {
              font-style: italic;
            }
          }

          .gamePrice {
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            color: rgb(55, 191, 201);
            font-style: italic;

            span {
              font-size: 0.5em;
            }
          }

          .addGame {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 5px;
            color: $basic-orange-color;
            font-size: 1em;

            .addGame_btn {
              color: $basic-font-color;
              background-color: transparent;
              border-color: transparent;
              height: 2em;
              width: 2em;
              transition: transform 0.2s;
              position: relative;
              padding: 0;
              margin: 0;

              &:hover {
                transform: scale(1.1);
              }

              img {
                position: absolute;
                height: 2em;
                width: auto;
                top: -2px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 40px;
  background-color: $basic-ascent-color;
  position: fixed;
  bottom: 0;
  width: 100%;
}
